body{
    background-color: #2f460b;
}

header {
  height: 600px;
  background-image: url('../images/butterfly.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

main {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 0 auto 20px auto;
    padding: 20px;
    box-shadow: 2px 2px 10px black;
}

h1{
    color: #feb402;
    font-size: 6rem;
    padding: 20px;
    margin-top: 0;
    background-color: rgba(0,0,0,0.3);
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;;
    font-variant: small-caps;
    color: #15301f;
    text-decoration: dotted underline #15301f 3px;

}

p{
  text-indent: 10px;
  font-size: 110%;
}

span{
    font-style: italic;
    letter-spacing: 1px;
}

li{
    line-height: 2rem;
}

main > ul:first-of-type li{
    list-style-image: url('../images/butterfly_icon.png');
}

ol > li, ul > li{
    font-weight: bold;
}

li > ul > li{
  font-weight: normal;
}

img {
  display: none;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

@media screen and (min-width: 700px) {
  img {
    display: block;
  }

  main {
    position: relative;
  }
}