body{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.topbar{
    position: relative;
    top: 0;
    margin: 0;
    padding: 5px;
    font-size: 85%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    color: #eee;
    background-color: #222;
}

header{
    background-image: url("../images/background.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #444;
    background-blend-mode: multiply;
    height: 44rem;
}

.topbar p{
    margin: 0 1rem 0 1rem;
}

.logo{
    left: 0;
    padding-left: 0;
    margin-left: 0;
}

nav{
    display: flex;
    margin-top: 1rem;
    justify-content: space-between; 
    align-items: flex-start;
}

.mainmenu{
    display: flex;
    list-style-type: none;
}

.menuitem{
    padding: 1rem;
    color: white;
    display: inline-block;
    text-decoration: none;
}

.menuitem:hover{
    background-color: #fff6;
}

section{
    margin: 0;
    padding: 3rem 10rem 3rem 10rem;
}

#service, #map{
    background-color: white;
}

.card-deck{
    display: flex;
    justify-content: space-evenly; 
    flex-wrap: wrap;
}

.feature{
    flex-basis: 14rem;
    height: 20em;
    padding: 2rem;
    background-color: #efefef;
    border-radius: 0.5rem;
    display: flex;
    text-align: center;
    box-shadow: 5px 5px 15px #444;
}

.feature:hover{
    background-color: rgba(180, 180, 180, 0.1);
}

.feature p{
    text-align: justify;
}

#team{
    background-color: #444;
    color: white;
}

h1{
    font-size: 1.25;
    margin-bottom: 3rem;
}

h2{
    font-size: 1.1;
}

.member{
    text-align: center;
}

.member img{
    border-radius: 50%;
}

.member:nth-child(1){
    order: 3;
}
.member:nth-child(2){
    order: 1;
}

.member:nth-child(3){
    order: 5;
}

.member:nth-child(4){
    order: 2;
}

.member:nth-child(5){
    order: 4;
}

.member:nth-child(6){
    order: 6;
}

.footer-container{
    display: flex;
    padding: 1rem 5rem 2rem 5rem;
    align-items: center;
    justify-content: space-around;
}

.footer-column{
    flex-basis: 40%;
    border-left: 1px solid white;
    padding: 0 1rem 0 1rem;
}

.footer-column:nth-child(1){
    border-left: none;
}

footer{
    background-color: #444;
    color: #eee;
}

footer li{
    list-style-type: none;
}

footer a{
    text-decoration: none;
    color: white
}

footer p{
    text-align: center;
}
