body{
    background-image: url('./images/butterfly_bg.jpg');
    background-size: 500px;
}

ol{
    width: 300px;
    position: center;
    margin: auto;
}

ol > li{
    list-style-type: none;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 6px;
    padding: 20px;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 25px;
}

ol > li:nth-child(odd){
    background-color: #ddd5c7;
}

ol > li:nth-child(even){
    background-color: #cbd4e1;
}

ol > li > ul{
    font-weight: bold;
    font-variant: normal;
    letter-spacing: 1px;
    font-size: 1rem;
}

span{
    color: brown;
    font-style: italic;
}

div{
    display: none;
}

ol>li>ul>li>ul>li:nth-child(7){
    background-color: lightskyblue;
    position: relative;
}

ol>li>ul>li>ul>li>ul>li:nth-child(5){
    background-color: lightcoral;
    position: relative;
}

ol>li>ul>li>ul>li:nth-child(7):hover div{
    display: block;
    background-color: white;
    border: 2px solid lightskyblue;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 90%;
}

ol>li>ul>li>ul>li>ul>li:nth-child(5):hover div{
    display: block;
    background-color: white;
    border: 2px solid lightcoral;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 90%;
}

span, ol > li > ul > li >ul{
    font-weight: normal;
    font-variant: normal;
    letter-spacing: normal;
    font-size: 1rem;
}
