body{
    background-color: #EFEBE8;
}

#main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 50px;
    gap: 10px;
}

#jobbmenu{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}
#banner{
    grid-row: 2 / 6;
    grid-column: 1 / 3;
}
#menu{
    grid-row: 6 / 7;
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
#haromhasab{
    grid-row: 7 / 10;
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
#bal{
    grid-row: 10 / 20;
    grid-column: 1 / 2;
}
#jobb1{
    grid-row: 10 / 15;
    grid-column: 2 / 3;
}
#jobb2{
    grid-row: 15 / 20;
    grid-column: 2 / 3;
}
#lablec{
    grid-row: 20 / 21;
    grid-column: 1 / 3;
}
.szurke{
    background-color: #B7B7B7;
}
.kiemel{
    background-color: #078289;
}

@media screen and (width <= 768px) {
    .kiemel{
        background-color: #336997;
    }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .kiemel{
        background-color: #BD443B;
    }
}
