body{
    background-color: #b8e3e9;
}

h1{
    text-align: center;
    font-variant: small-caps;
}

main{
    width: 700px;
    margin: 50px auto;
    
}

.items{
    
}

.item1{}
.item2{}
.item3{}
.item4{}
.item5{}
.item6{}
.item7{}
.item8{}
.item9{}